<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<p><input type="text" id="username" placeholder="请输入用户名"/></p>
<p><input type="text" id="password" placeholder="请输入密码"/></p>
<p><input type="text" id="realname" placeholder="请输入用户名"/></p>

<input type="button" id="btn" value="注册">
<a href="/test/login" id="hreflogin">已有账号？点击登录</a>
<!--<input type="button" id="login" value="登录">-->


</body>
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/registerscript.js"></script>
</html>